// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$navbar-height: 70px; 

// Colors
$brand-primary:         #27ae60;

$baseColor: #fff;
$secondaryColor: #FF0000;
$thirdColor: #000;

$navbar-default-link-active-bg: none;
$navbar-default-link-active-color: $thirdColor;
$navbar-default-link-color: $thirdColor;
$link-color: $thirdColor;

$text-color: $thirdColor;
